.header {
    height: 110px;
    background: #F2F1EF;
    transition: all .4s ease-in-out;
}

.header__desktop,
.header__desktop .custom-wrap {
    height: inherit;
}

.header__desktop .custom-wrap {
    display: flex;
    align-items: center;
}

.header__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__col:nth-of-type(1) {
    display: flex;
    align-items: center;
}

.header__col-logo {
    margin-right: 100px;
    transition: all .25s ease-in-out;
}

.header__col-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.header__col-links a {
    margin-right: 40px;
    transition: all .25s ease-in-out;
}

.hero__wrapper {
    padding: 90px 0;
}

.hero__row {
    display: flex;
    justify-content: space-between;
}

.hero__title {
    line-height: 7rem;
    margin-top: 0;
    margin-bottom: 35px;
}

.hero__title span {
    margin-left: 25px;
    margin-right: 25px;
}

.hero__title span img {
    margin-bottom: -10px;
}

.hero__tags {
    font-size: 2.3rem;
    line-height: 3.2rem;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.hero__tags .tag {
    position: relative;
    display: inline-block;
    margin-right: 52px;
}

.hero__tags .tag:after {
    position: absolute;
    content: '';
    background: url(../images/hero-sm-icon.svg);
    width: 19px;
    height: 19px;
    top: 50%;
    transform: translateY(-50%);
    right: -37px;
}

.hero__tags .tag:last-of-type::after {
    content: unset;
}

.hero__button {
    display: flex;
    align-items: center;
}

.about__wrapper {
    padding: 30px 0 60px;
}

.about__title {
    margin: 0 auto 60px auto;
}

.about__row {
    display: flex;
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 90px;
}

.about__col:nth-of-type(1) {
    max-width: 485px;
    margin-right: 120px;
}

.about__col p {
    margin-bottom: 30px;
}

.about__col .col-item {
    margin-bottom: 40px;
}

.about__col .col-item .name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #E94D35;
    margin-bottom: 5px;
}

.about__cards {
    display: flex;
}

.about__card {
    width: calc(100% / 3);
    height: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__card .card .card__num {
    font-size: 5.6rem;
    line-height: 6.4rem;
    margin-bottom: 11px;
    text-align: center;
}

.about__card .card .card__desc {
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.about__card:nth-of-type(2n-1) {
    border: 2px solid #161513;
}


.about__card:nth-of-type(2n) {
    background: #161513;
    border: 2px solid #161513;
    color: #fff;
}

.portfolio__wrapper {
    padding: 60px 0 80px;
}

.portfolio__title {
    margin: 0 auto 10px auto;
}

.portfolio__subtitle {
    text-align: center;
    margin-bottom: 60px;
}

.portfolio__card .card__slider {
    display: flex;
    margin-bottom: 40px;
    filter: drop-shadow(0px 0px 73px rgba(233, 77, 53, 0.1));
    cursor: pointer;
}

.portfolio__card .card__slider-item {
    margin-right: 20px;
}

.portfolio__card .card__tag {
    width: fit-content;
    padding: 9px 21px;
    background: #E94D35;
    color: #fff;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.portfolio__card .card__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.portfolio__card .card__text .title {
    max-width: 478px;
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: 1.44px;
}

.portfolio__card .card__text .desc {
    max-width: 518px;
    font-size: 1.8rem;
    line-height: 2.6rem;
}

.portfolio__card .card__button {
    font-size: 2rem;
    line-height: 3.2rem;
    text-decoration-line: underline;
}

.skills__wrapper {
    position: relative;
    padding: 80px 0 95px;
    overflow-x: hidden;
}

.skills__wrapper:before {
    position: absolute;
    content: '';
    background: url(../images/big-icon.svg);
    width: 372px;
    height: 372px;
    top: 35%;
    left: -185px;
    background-repeat: no-repeat;
}

.skills__row {
    display: flex;
    justify-content: space-between;
}

.skills__cards {
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills__card {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    filter: drop-shadow(0px 0px 73px rgba(233, 77, 53, 0.1));
    margin-bottom: 30px;
}

.experience__wrapper {
    padding: 95px 0 190px;
}

.experience__title {
    margin-top: 0;
}

.experience__title,
.experience__subtitle {
    margin-left: 72px;
}

.experience__subtitle {
    margin-bottom: 40px;
}

.experience__card {
    border-top: 1px solid #000;
    padding: 30px 0 30px 72px;
}

.experience__card:last-of-type {
    border-bottom: 1px solid #000;
}

.experience__card .card {
    display: flex;
    align-items: center;
}

.experience__card .card__num {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.8rem;
    margin-right: 80px;
}

.experience__card .card__text .title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.1rem;
    margin-bottom: 10px;
}

.experience__card .card__text .title span {
    color: #E94D35;
}

.experience__card .card__text .desc {
    font-size: 1.8rem;
    line-height: 2.3rem;
}

.footer {
    background: #161513;
}

.footer__wrapper {
    padding: 100px 0;
}

.footer__title {
    width: 700px;
    margin: 0 auto 60px auto;
    color: #fff;
    text-align: center;
}

.footer__button {
    width: fit-content;
    position: relative;
    font-size: 3rem;
    line-height: 3.2rem;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 89px;
    margin: 0 auto;
}

.footer__button:before {
    position: absolute;
    content: '';
    background: url(../images/footer-icon.svg);
    width: 59px;
    height: 59px;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

@media (max-width: 1239px) {
    .portfolio__card .desc {
        max-width: 450px !important;
    }
}

@media (max-width: 991px) {
    .header__col-logo {
        margin-right: 60px;
    }

    .hero__row {
        flex-direction: column-reverse;
    }

    .hero__image {
        text-align: center;
    }

    .hero__title {
        font-size: 4.9rem;
        line-height: 5.6rem;
        background-color: rgba(242, 241, 239, 1);
        margin-top: -80px;
        padding-top: 40px;
    }

    .about__row {
        flex-direction: column-reverse;
        margin-bottom: 60px;
    }

    .about__col:nth-of-type(2) {
        display: flex;
    }

    .about__col .col-item {
        margin-right: 60px;
        margin-bottom: 60px;
    }

    .about__col p {
        margin-bottom: 20px;
    }

    .about__card {
        height: 170px;
    }

    .about__card .card__num {
        font-size: 4.5rem !important;
    }

    .about__card .card__desc {
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
        line-height: 2.4rem !important;
    }

    .portfolio__wrapper {
        padding-bottom: 60px;
    }

    .portfolio__card .card__text {
        flex-direction: column;
    }

    .portfolio__card .card__text .title {
        margin-bottom: 15px;
    }

    .skills__wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .skills__row {
        flex-direction: column;
    }

    .skills__wrapper:before {
        top: 0;
        right: -185px !important;
        left: unset;
    }

    .skills__col:nth-of-type(1) {
        margin-bottom: 40px;
    }

    .skills__cards {
        width: 100%;
    }

    .skills__card {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }

    .skills__card img {
        width: 60px;
        height: 60px;
    }

    .experience__wrapper {
        padding-top: 60px;
        padding-bottom: 120px;
    }

    .experience__title,
    .experience__subtitle {
        margin-left: 0;
    }

    .experience__card {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 767px) {
    .header__col-logo {
        margin-right: 25px;
    }

    .header__col-links a {
        margin-right: 20px;
    }

    .hero__title span img {
        margin-bottom: -40px;
    }

    .about__col:nth-of-type(1) {
        width: 100%;
    }

    .about__card .card__num {
        font-size: 3.2rem !important;
        line-height: 4.6rem !important;
    }

    .about__card {
        height: 150px;
    }

    .skills__wrapper {
        padding-bottom: 40px;
    }

    .skills__card {
        width: 153px;
        height: 153px;
    }

    .skills__card img {
        height: 80px;
        width: 80px;
    }

    .experience__wrapper {
        padding-top: 60px;
    }

    .footer__title {
        width: 550px;
    }
}

@media (max-width: 575px) {
    .hero__wrapper {
        padding: 60px 0;
    }

    .header__col-links {
        display: none;
    }

    .hero__image img {
        max-width: 305px;
        width: 100%;
    }

    .hero__title span img {
        margin-bottom: -32px;
    }

    .hero__tags {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .btn-main-dark {
        width: 140px;
    }

    .btn-main {
        width: 120px;
    }

    .about__wrapper {
        padding-bottom: 50px;
    }

    .about__row {
        margin-bottom: 40px;
    }

    .about__col:nth-of-type(2) {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .about__col .col-item {
        margin-bottom: 20px;
    }

    .about__cards {
        flex-wrap: wrap;
    }

    .about__card {
        width: 100%;
    }

    .portfolio__wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .skills__wrapper {
        padding-top: 50px;
    }

    .skills__wrapper:before {
        right: -236px !important;
    }

    .skills__card {
        width: calc((100% - 20px) / 3);
        height: 120px;
        margin-bottom: 10px;
    }

    .skills__card img {
        width: 60%;
    }

    .experience__wrapper {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .experience__card .card {
        flex-direction: column;
        align-items: flex-start;
    }

    .experience__card .card__num {
        margin-bottom: 20px;
    }

    .footer__wrapper {
        padding-bottom: 130px;
    }

    .footer__title {
        width: 80%;
    }

    .footer__button a {
        display: none;
    }

    .footer__button:before {
        left: 50%;
        transform: translateX(-50%);
    }

}

@media (max-width: 371px) {
    .hero__title {
        font-size: 3.1rem !important;
    }

    .hero__title span {
        margin-left: 10px;
        margin-right: 0;
    }

    .hero__title span img {
        width: 40px;
        height: 40px;
        margin-bottom: -28px;
    }
}